
*{
    box-sizing: border-box;
}

Body{

    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url('../images/white_wall_hash.png');
    
}

header {
    display: block;
    background-color: #ffffff;
    border-width: 0px 0px 4px 0px;
    border-color: #cccccc;
    border-style: solid;
    height: 10vh;
    margin-bottom: 4vh;
    padding: 0px;
    box-sizing: content-box;
}

.header {
    width: 960px;
    margin: auto;
    height: 10vh;
}

h1{
  
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
    height: 10vh;
    padding: 3vh 5vh;
   
}

nav {
    float: right;
    color: #777777;
    height: 10vh;
    padding: 3vh;
}

nav a{
    text-decoration: none;
    color: #777777;
    border-width: 0 0 0 2px;
    border-style: solid;
    padding-left: 12px;
    border-color: #dddddd;
    margin-left: 15px;
}

nav :first-child{
    border-width:0;
}

nav a:hover{
    color:#A2E8B6;
}

h2{  
    padding: 5vh;  
    height: 10vh;
    color: #4aaaa5;
  }

h1, h2{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 4vh;
}

main hr{
    background-color: #c0c0c0;
    width: 900px;
    height: 0.75vh;
    opacity: 0.5;  
}
  
main{
    display:block;
    background-color: #ffffff;
    width: 960px;
    height: 68vh;
    border-color:#dddddd;
    border-width: 1px;
    border-style:solid;
    margin: 0 auto;
    overflow: hidden;

}

.content{
    margin: 30px;
  
}

footer{
    text-align: center;
    color: #dddddd;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 8vh;
}
footer p{
    margin: 2.5vh;
}

/* styling "about" page */

.logo{

    width: 250px;
    height:25vh;
    margin-bottom: 3vh;
 }

 .firstparagraph{
    float:right;
    color: #777777;
    line-height: 5vh;
    width: 600px;
    height: 25vh;
}

.secondparagraph{
     display:block;
     color: #777777;
     line-height: 5vh;
     width: 900px;
     height:25vh;    
}

/* styling portfolio page */

.portfolioheader{
    margin-bottom: 2vh;
}

.firstrow, .secondrow, .thirdrow{
       
     margin-bottom: 2vh;
        
}
.portfolioimages{
    width: 200px;
    height: 100px;
    
 }
 .firstrow :last-child, .secondrow :last-child {
    margin-left: 10px;
 }

 .portfoliomain{
    height: 77vh;
}

/* styling contact page */

label{
    display:block;
}
#name, #email {
    display:block;
    width: 900px;
    height:5vh;
    margin-top:1vh;
    Margin-bottom:1.5vh;
}
#message{
    display:block;
    width:900px;
    height:15vh;
    margin-top:1vh;
    Margin-bottom:1.5vh;
}
#submit{
    background-color: #4aaaa5;
    position: absolute;
    bottom:20vh;

}
#submit:hover{
    background-color: #A2E8DE;
}

